'.source.python':
  'bar.plotfull':
    'prefix': 'barplotfull'
    'body': '''
    index = np.arange(len(${1:df}))
    plt.bar(x=index, height=${2:values}, width=${3:0.8}, bottom=${4:0}, color="${5:r}", label="${6:data1}")
    plt.xticks(index, list(${1:df}.index))
    plt.show()
    $7
   '''

  'bar.plot':
    'prefix': 'barplot'
    'body': 'plt.bar(x=${1:index}, height=${2:values})$3'

  'heatmap.plot':
    'prefix': 'heatplot'
    'body': 'sns.heatmap(data=${1:data}, cmap=${2:cmap}, annot=${3:True})$4'

  'scatter.plot':
     'prefix': 'scatter'
     'body': 'plt.scatter(x=${1:x},y=${2:y}, c=${3:color_map})$4'

  'chunks.bigdata':
     'prefix': 'chunks'
     'body': '''
      for chunk in pd.read_csv("${1:./input/input.csv}", chunksize=${2:5000}):
         df = chunk.copy()
         $3
      '''

  'firstlook.datas':
     'prefix': 'firstlook'
     'body': '''
        df=pd.read_csv("${1:./input/input.csv}")
        print(df.head(5))
        print(df.columns)
        $2
     '''

   'train-test-split.ml':
      'prefix': 'train-test-split'
      'body': 'X_train, X_test, y_train, y_test = train_test_split(${1:X}, ${2:y}, test_size=${3:0.2}, random_state=${4:42})$5'

   'normalize-data.datas':
      'prefix': 'normalize-data'
      'body': '''
        x = ${1:X_train}.values
        min_max_scaler = preprocessing.MinMaxScaler()
        x_norm = min_max_scaler.fit_transform(x)
        ${2:X_train_norm} = pd.DataFrame(x_norm, columns=${1:X_train}.columns)
        $3
      '''

   'drop-columns.datas':
      'prefix': 'drop-cols'
      'body': '${1:df} = ${1:df}.drop(columns=["${2:columna}"])$3'

   'filter.datas':
      'prefix': 'filter'
      'body': '${1:df} = ${1:df}[(${1:df}[${2:row_range},"${3:column_range}"] ${4:==} ${5:"comp1"}) ${6:&} (${1:df}[${7::},"${8:column_range}"]) ${9:>} ${10:0}]$11'

   'describe.datas':
      'prefix': 'describe'
      'body': '${1:df}.${2:column}.describe()$3'

   'jointplot.plot':
      'prefix': 'jointplot'
      'body': 'sns.jointplot(x="${1:col1}", y="${2:col2}", data=${3:df}, kind="hex")$4'

   'boxplot.plot':
      'prefix': 'boxplot'
      'body': 'sns.boxplot(x=${1:df}["${2:column}"])$3'

   'mapping.datas':
      'prefix': 'mapping'
      'body': '${1:df}["${2:columna}"].map(lambda e: ${3:transformColumn(e)})$4'

   'apply.datas':
      'prefix': 'apply'
      'body': '${1:df}.apply(${2:transformDf}, axis="columns")$3'
