'.source.python':
  'bar.plotfull':
    'prefix': 'barplotfull'
    'body': '''
    index = np.arange(len(${1:df}))
    plt.bar(x=index, height=${2:values}, width=${3:0.8}, bottom=${4:0}, color="${5:r}", label="${6:data1}")
    plt.xticks(index, list(${1:df}.index))
    plt.show()
    $7
   '''

  'bar.plot':
    'prefix': 'barplot'
    'body': 'plt.bar(x=${1:index}, height=${2:values})$3'

  'heatmap.plot':
    'prefix': 'heatplot'
    'body': 'sns.heatmap(data=${1:data}, cmap=${2:cmap}, annot=${3:True})$4'

  'scatter.plot':
     'prefix': 'scatter'
     'body': 'plt.scatter(x=${1:x},y=${2:y}, c=${3:color_map})$4'

  'chunks.bigdata':
     'prefix': 'chunks'
     'body': '''
      for chunk in pd.read_csv("${1:./input/input.csv}", chunksize=${2:5000}):
         df = chunk.copy()
         $3
      '''

  'firstlook.datas':
     'prefix': 'firstlook'
     'body': '''
        df=pd.read_csv("${1:./input/input.csv}")
        print(df.head(5))
        print(df.columns)
        $2
     '''

   'train-testsplit.datas':
      'prefix': 'train-test-split'
      'body': 'X_train, X_test, y_train, y_test = train_test_split(${1:X}, ${2:y}, test_size=${3:0.2}, random_state=${4:42})$5'

   'normalize-data.datas':
      'prefix': 'normalize-data'
      'body': '''
        x = ${1:X_train}.values
        min_max_scaler = preprocessing.MinMaxScaler()
        x_norm = min_max_scaler.fit_transform(x)
        ${2:X_train_norm} = pd.DataFrame(x_norm, columns=${1:X_train}.columns)
        $3
      '''
